---
BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 110
IndentWidth: 2
AccessModifierOffset: -1
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
BinPackArguments: true
BinPackParameters: true
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Preserve
NamespaceIndentation: None
SpacesBeforeTrailingComments: 2
